@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.navbar {
  width: 90%;
  padding: 20px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "IBM Plex Serif", serif;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  transition: opacity 0.3s ease;
}

.nav-links a:hover {
  opacity: 0.7;
}

.cta-btn {
  background: white;
  color: black;
  border: none;
  padding: 10px 24px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.cta-btn:hover {
  opacity: 0.8;
}
